<div class="effect">
	<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
		<defs>
			<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
		</defs>
		<g class="parallax">
			<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(60,110,190,0.7)" />
			<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(60,110,190,0.5)" />
			<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(60,110,190,0.3)" />
			<use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(60,110,190,0.1)" />
		</g>
	</svg>
	<div class="waves__water">
		<a
			data-tooltip="Ibama confirma petróleo venezuelano no Nordeste, mas causa segue incerta"
			href="https://exame.abril.com.br/brasil/ibama-confirma-petroleo-venezuelano-no-nordeste-mas-causa-segue-incerta/"
			target="_blank" rel="noopener"
		>
			{% include "dist/radioactivity.svg" %}
		</a>

		<a
			data-tooltip="Por que animais marinhos confundem plástico com comida?"
			href="https://www.bbc.com/portuguese/geral-45519251"
			target="_blank" rel="noopener"
		>
			{% include "dist/plastic-bottle.svg" %}
		</a>

		<a
		   data-tooltip="Pesquisadores encontram 238 toneladas de plástico em ilhas remotas"
		   href="https://revistagalileu.globo.com/Ciencia/Meio-Ambiente/noticia/2019/05/pesquisadores-encontram-238-toneladas-de-plastico-em-ilhas-remotas.html"
		   target="_blank" rel="noopener"
		>
		  {% include "dist/saco-de-reciclagem.svg" %}
		</a>
		                                     
		<a
		   data-tooltip="Porque o canudo de plástico virou o inimigo número 1 do meio ambiente"
		   href="https://epocanegocios.globo.com/Mundo/noticia/2018/07/por-que-o-canudo-de-plastico-virou-o-inimigo-numero-1-do-meio-ambiente.html"
		   target="_blank" rel="noopener"
		>
		  {% include "dist/tartaruga.svg" %}
		</a>

		<a
		   data-tooltip="Esgoto no mar de Arraial do Cabo: agência cobra ações"
		   href="https://extra.globo.com/noticias/rio/esgoto-no-mar-de-arraial-do-cabo-agencia-cobra-acoes-23419153.html"
		   target="_blank" rel="noopener"
		>
		  {% include "dist/esgoto.svg" %}
		</a>

		<a
		   data-tooltip="Entenda as mudanças climáticas"
		   href="https://g1.globo.com/natureza/noticia/2019/10/19/15-perguntas-para-entender-as-mudancas-climaticas.ghtml"
		   target="_blank" rel="noopener"
		>
		  {% include "dist/bolsa.svg" %}
		</a>

		<a
		   data-tooltip="Recuo dos Glaciares no Alasca em 3km e Ártico"
		   href="https://www.youtube.com/watch?v=-akWOiyAwMU"
		   target="_blank" rel="noopener"
		>
		  {% include "dist/iceberg.svg" %}
		</a>

		<a
		   data-tooltip="Aumento de US$ 1 trilhão/ano em prevenção de catástrofes"
		   href="https://www.youtube.com/watch?v=f7sEhuSbQo8&t=700s"
		   target="_blank" rel="noopener"
		>
		  {% include "dist/moeda.svg" %}
		</a>

		<a
		   data-tooltip="Estudos preveem um aumento do nível do mar de 0,9m em 100 anos; alcançando 6,09m em 2200, colocando em risco aproximadamente 10% da população mundial."
		   href="https://www.bbc.com/portuguese/geral-42057029"
		   target="_blank" rel="noopener"
		>
		  <img src="../dist/aquaman.png" alt="Aquaman">
		</a>

	</div>
</div>
