<footer class="container">
	<h2>
		O projeto
	</h2>
	<div class="row">
		<p>
			"Água no umbigo" é um projeto para levar conhecimento das causas e consequências do aumento do nível do mar à população, utilizando interação, animação e conteúdo. Foi idealizado pelo time Netuno 65 do Nasa Space Apps Challenge 2019 na cidade de Curitiba.
		</p>
	</div>
	<img src="../dist/equipe-netuno.png" alt="Equipe Netuno" />

	<div class="row capi">
		<img src="../dist/capi-astronauta.png" alt="Space Capi">
	</div>
</footer>