/* Hamburger 3 span */
span {
	display: block;
	position: relative;
	height: .2rem;
	width: 100%;
	top: 0;
	left: 0;
	background-color: $greyIce;
	border-radius: 10px;
	pointer-events: none;
	transition: all $animTime $cubic;
	& + span{ margin-top: 0; }
}