$greenlp: #1ebea5;
$greenlpDark: #064e45;
$greenlpLight: #a9dbd8;
$greenlpMidDark: #075e54;

$greylp: #414042;
$greylpbg: #d1d3d4;
$greylpLight: #e5ddd5;
$greylpUltraLight: #f3f3f3;

$bluelpLight: #33A2D8;
$bluelpDark: #3b4750;

/*$greenlpWhats: #e1ffc7;*/