.bg {
	&--green { background-color: $greenlp; }
	&--greenDark { background-color: $greenlpDark; }
	&--greenMidDark { background-color: $greenlpMidDark; }
	&--greenLight { background-color: $greenlpLight; }
	&--greyLight { background-color: $greylpLight; }
	&--grey { background-color: $greylpbg; }
	&--blue { background-color: $blue; }
	&--blueLight { background-color: $bluelpLight; }
	&--blueDark { background-color: $bluelpDark; }
	&--yellowLight { background-color: $yellow; }
	&--yellow { background-color: $yellowDark; }
	&--img {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	&--section {
		background-image: url('./img/special/wp/bg-whatsapp.svg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		h2, h3, h4, h5, h6, p, span { color: #FFF; }
	}
	&--section-business {
		background-color: #D6E6F0; 
		background-image: url('./img/special/wp/bg04-business.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 0 bottom;
		@media (--sm) { background-image: none; }
	}
	&--parallax {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;
		@media (--xs) { background-attachment: scroll; }
	}
}

.special {
	.section {

		&--text {
			.open {
				&, * { color: $greylp; }
			}
			.gilroy {
				&, * { color: $white; }
			}
			.gilroy, .open {
				&--green {
					&, * { color: $greenlpMidDark; }
				}
				&--black {
					&, * { color: $greylp; }
				}
				&--white {
					&, * { color: $white; }
				}
				&--blue {
					&, * { color: $blueLight; }
				}
				&--blueDark {
					&, * { color: $blueDark; }
				}
			}

			&--center {
				text-align: center;
			}
			&--pd { padding: 10rem 0 2rem; }
			&--pd-sm { padding: 5rem 0; }

			&--white {
				&, * { color: $white; }
				.open, .gilroy, .section__info--dt, .section__info--text {
					&, * { color: $white; }
					h2 { margin-bottom: 3rem;  }
				}
			}

		}

		&__info {
			&--txt {
				&--grey {
					color: $greylpbg !important;
					letter-spacing: .8rem;
					margin-bottom: 3rem;
				}
			}
		}
	}
}