.aside {
	position: relative;
	display: flex;
	flex-flow: column;

	&__col {
		width: 100%;	
		height: 50%;
		flex: 0 0 50%;
		display: block;

		@media(--md) {
			height: auto;
			display: table;
		}

		&:first-child {
			.aside__widget {
				padding-bottom: 4rem;
			}
		}
	}

	&__widget {
		align-self: flex-start;
		top: 78px;
		position: sticky;
	}
}

.article__news {
	.aside {
		padding: 0 2.5rem;
	}
}