.card {
	position: relative;
	transition: all $animTime $cubic;
	display: table;
	width: 100%;
	overflow: hidden;

	@media(--md) {
		margin: 1rem auto;
	}

	&:after {
		content: '';
		display: block;
		transition: opacity $animTime $cubic;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-image: linear-gradient(to bottom, rgba(36, 36, 36, 0.55), rgba(36, 36, 36, 0.55));
		opacity: 1;

		/*
		background for collections
		background-image: linear-gradient(90deg,rgba(0, 0, 0, 0.75),rgba(36,36,36,0.25));
		*/
	}

	&__thumb {
		filter: grayscale(100%);
		transition: transform $animTime $cubic;
		background-size: cover;
		background-position: center;
	}
 
	&__overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 30px;
		max-width: 400px;
		@media (--m-md) and (max-width: 1200px) {
			max-width: 380px;
		}

		.head, .description {
			transition: color $animTime $cubic;
			color: $white;
			text-align: left;
		}
	}

	&__collection {
		&:after {
			background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
		}
		.card {
			&__thumb {
				height: 280px;
				filter: none;
			}
		}	
	}

	&__tax {
		.card {
			&__overlay {
				.description {
					color: $orange;
				}
			}
			&__thumb {
				height: 190px;
			}
		}
	}

	&:hover {
		.card__thumb {
			transform: scale(1.15);
		}
	}



}