.form {

	&__header {
		background-color: $blackLight;
		position: relative;
		min-height: 110px;
		background-image: url('./img/labs-placeholder.jpg');
		background-size: cover;
	}
	
	&__logo {
		background-color: $white;
		box-shadow: 2px 2px 0 0 #000000;
		display: flex;
		justify-content: center;
		width: 100%;
		height: 81px;

		&--pos {
			position: absolute;
			top: 14px;
			left: 11px;		
		}

		svg {
			width: 150px;
			height: auto;
			.st0 {
				fill: $blackLight;
			}
		}

		/* Modal form */
		& + .form__content {
			padding: 0;
			border: 0;
			text-align: center;
			.form__hs, form {
				flex-flow: column;
			}
			.form__call {
				margin: 10px 0 0;
			}
			.hs-form-field {
				margin: 6px 0;
			}
		}

	}

	&__content {
		font-family: $titlingNarrow;
		font-weight: 300;
		font-size: $s20;
		font-range: $fontRange;
		line-height: 1.25;
		padding: 22px 30px 0 42px;
		border-top: solid 1px $greyBorder;
		border-bottom: solid 1px $greyBorder;
		@media(--lg) {
			font-size: $s18;
			font-range: $fontRange;
		}
		@media(--md) {
			padding: 35px;
		}
	}

	&__call {
		margin-bottom: 10px;
	}

	/*
		Custom hubspot form
		Custom general form
	*/
	&__hs,
	&__search {

		&, form {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		& > label {
			font-family: $titlingCondensed;
			font-weight: 500;
			font-size: $s18;
			font-range: $fontRange;
			color: $blue;
			line-height: 3.2rem;
			min-width: 45%;
			line-height: 1.2;
		    margin: 1rem 0;

			@media(--m-md) and (--xlg) {
				font-size: $s15;
				font-range: $fontRange;
			}
		}

		.hbspt-form {
			width: 100%;
		}

		.hs, .form {

			&_firstname, &-form-required { display: none; }

			&-input,
			&-button,
			&-error-msg,
			&-error-msgs {
				font-family: $titlingNarrow;
				text-align: center;
				font-weight: 300;				
			}

			&-input,
			&__input {
				font-size: $s16;
				font-range: $fontRange;
				border: 0;
				background-color: $greyInput;
				color: #acaaaa;
				box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
				padding: 7px 15px;
				width: 100%;
				transition: all $cubic $animTime;
				&:focus {
					background-color: #f6fbfd;
					color: $blackLight;
					box-shadow: 0 1px 0 0 $blue;
				}
			}

			&-button {
				font-weight: 500;
				font-size: $s14;
				font-range: $fontRange;
				border-radius: $borderRadius;
				background-color: $blue;
				border: solid 1px $blue;
				color: $white;
				padding: 8px 22px;
				margin: auto 0;
				cursor: pointer;
				transition: all $animTime $cubic;
				&:hover {
					background-color: $blueLight;
					border: solid 1px $blueLight;
				}
			}

			&-error-msg,
			&-error-msgs {
				&, li {
					font-size: $s12;
					font-range: $fontRange;
					display: block;
					list-style: none;
				}
			}
			&-error-msgs { margin: 0; }
			&-error-msg { margin: 10px 0 5px; }

			&-form-field {
				@media(--m-md) {
					margin-right: 10px;
				}
				&, input {
					width: 100%;
				}
				& > label {
					display: none;
				}
			}

		}

	}

	@media(--m-lg) and (--xlg) {
		&__hs {
			flex-flow: column;
			& > label, .hs {
				min-width: 100%;
			}
			& > label, .hs-form-field {
				margin-bottom: $spacement;
			}
		}
	}

	@media(--xmd) {
		&__hs {
			flex-flow: column;
			& > label, .hs {
				min-width: 100%;
			}
			& > label, .hs-form-field {
				margin-bottom: $spacement;
			}
		}
	}

	@media(--md) {
		padding: 0;
		
		&__header {
			max-width: 100%;
			display: flex;
			justify-content: center;
		}

		&__logo {
			top: 50px;
			left: auto;
			max-width: 230px;
		}

		&__call, &__content {
			text-align: center;
		}

		&__hs {
			form {
				flex-flow: column;
			}
			& > label, .hs {
				text-align: center;
			}
		}

	}

}
