.lib {
	justify-content: center;

	&__item {
		display: flex;
		flex-flow: row;
	}

	&__thumb {
		max-width: 120px;
		max-height: 150px;
	}

	&__info {
		display: flex;
		flex-flow: column;
		padding: .6rem $spacement;

		@media(--m-md) {
			max-width: 200px;
		}

		.kicker {
			margin-bottom: .8rem;
		}
	}

	@media (--md) {
		.lib {
			&__item {
				margin-bottom: $spacement;
			}
		}
		a:last-child {
			.lib__item {
				margin-bottom: 0;
			}
		}
	}

}