.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mt-30 {
	margin: 30px 0 0 0
}
.roww, .column {
	display: flex
}
.roww {
	flex-direction: row
}
.column {
	flex-direction: column
}
.btn:not([disabled]) {
	cursor: pointer
}

.poll {
	&-box {
		background: linear-gradient(#3c84ba, #24269c);
		border-radius: 3px;
		box-shadow: 0px 5px 11px -7px #000;
		text-align: center;
		max-width: 900px;
		margin: 100px auto 140px;
	}
	&-container {
		padding: 25px 30px 40px;
		position: relative;
	}
	&-question {
		width: 100%;
		text-align: center;
		color: #FFF;
		font-size: $s20;
		font-range: $fontRange;
		font-family: $nunito;
		font-weight: 900;
	}
	&-panel.poll-voted {
		overflow: hidden;
		border-radius: 20px;
		.poll-panel-btn {
			background: #676464;
			color: #FFF;
			border-radius: 0;
			margin: 0;
			border: 0;
			position: relative;
			&.ct {
				background: #5d9e19;
			}
			&:hover {
				color: #FFF;
				background: #676464;
			}
			&:after {
				content: attr(data-result);
				font-size: 9px;
				display: block;
				opacity: 0.5;
				animation: slideWithFade .2s ease;
			}
			&:active {
				transform: inherit
			}
			span {
				display: block
			}
			&.--user-choice {
				background: #FFF;
				color: #000;
				&.ct {
					background: #5d9e19;
				}
				&:hover {
					color: #000;
					background: #FFF;
				}
			}
		}
	}
		
	&-panel {
		width: 100%;
		&-btn {
			padding: 12px 10px;
			font-family: $nunito;
			font-size: $s14;
			font-range: $fontRange;
			width: 100%;
			border-radius: 50px;
			border: 1px solid #FFF;
			margin: 0 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #FFF;
			transition: .15s cubic-bezier(.17,.67,.79,1.24);
			&:hover {
				background: #FFF;
				color: #000;
			}
			&:active {
				transform: scale(.95);			
			}
		}
	}

}
		
@keyframes slideWithFade {
	0% {
		opacity: 0;
		transform: translateY(10px);	
	}
	100% {
		opacity: 1;
	}
}