/*a[data-tooltip] {
	position: relative;
	color: $greyBase;
	text-decoration: none;
	font-weight: bold;
	background-size: 16px;
	background-position: right;
	background-repeat: no-repeat;
	padding-right: 20px;
	&:hover {
		color: $blueLight;
	}
}*/

.tooltip {
	width: 260px;
	position: absolute;
	top: -60px;
	padding: 3.2rem;
	margin-left: 24px;
	border-radius: 5px;
	background-color: #FFF;
	color: #333;
	font-family: sans-serif;
	font-size: $s12;
	line-height: 1.4;
	font-weight: normal;
	box-shadow: 0 2px 25px -5px rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.2s ease;
	z-index: 10;
	p {
		text-transform: capitalize;
		margin: 0 0 6px;
		font-family: sans-serif;
		font-size: $s18;
		font-weight: bold;
	}
	/* seta
	&:after{
		display: block;
		position: absolute;
		top: -7px;
		left: 0;
		border-right: 10px solid transparent;
		border-bottom: 10px solid $white;
		z-index: 3;
	}
	*/
}