header {
	&.container {
		cursor: pointer;
		opacity: 1;
		transition: all ease 0.2s;
		&.hide {
			opacity: 0;
			height: 0;
		}
		h1 {
			font-size: $s50;
		}
		h1, p {
			color: #333;
			width: 100%;
		}

		&:after {
			content: '\2193';
			display: block;
			font-family: $nunito;
			color: #333;
			font-size: 24px;
			margin: 10px auto;
		}

	}
}