/* Special Typography */

.special {
	h1, h2, h3, h4, h5, h6 {
		color: $black;
		.blue { color: $blueDark; }
		.white { color: $white; }
	}

	h3 {
		font-size: $s20;
		font-range: $fontRange;
		text-transform: uppercase;
		letter-spacing: $letterSpacing;
		width: 100%;
		clear: both;
	}

	p {
		font-size: $s16;
		font-range: $fontRange;
	}
}

/* Alignment */
.t {
	&--left {
		text-align: left;
	}

	&--right {
		text-align: right;
	}

	&--center {
		text-align: center;
	}
}

.grifo {
	position: relative;
	&:before {
		background-image: url('./img/post/grifo-labs-05.svg');
		background-size: 100% 100%;
		display: block;
		content: '';
		width: 100%;
		height: 36px;
		position: absolute;
		bottom: -4px;
		z-index: -1;
	}
}

/*
Spacement
pd - padding
mg - margin
b - bottom
t - top
If is just pd and mg, there is a top and bottom value !=0
*/
.head {
	&--pd {
		padding: 60px 0 30px;
	}
	&--pdb {
		padding-bottom: 30px;
	}
	&--mg {
		margin-top: 90px;
		margin-bottom: 60px;
		@media (--md) {
			margin-top: 40px;
			margin-bottom: 20px;
		}
	}
	&--mgt {
		margin-top: 60px;
		@media (--md) { margin-top: 30px; }
	}
	&--mgb {
		margin-bottom: 60px;
		@media (--md) { margin-bottom: 30px; }
	}
	&--mg-center {
		margin: 90px auto 60px;
		@media (--md) {
			margin: 40px auto 20px;
		}
	}
}

/* Big title */
.tt {
	font-size: $s60;
	font-range: $fontRange;
	color: $white;
	text-transform: uppercase;
	&--grifo {
		position: relative;
		display: inline-block;
		z-index: 0;
		&:before {
			background-image: url('./img/post/grifo-labs-05.svg');
			background-size: 100% 100%;
			display: block;
			content: '';
			width: 100%;
			height: 36px;
			position: absolute;
			bottom: -4px;
			z-index: -1;
		}
	}
	&--blue {
		color: $blueDark;
	}
}

/* Subtitle */
.sub {
	font-size: $s30;
	font-range: $fontRange;
	font-weight: 300;
	color: $white;
	&--blue {
		color: $blueDark;
	}
	&--green {
		color: $green;
	}
	&--upcase {
		text-transform: uppercase;
	}
	&--strong {
		font-weight: bold;
	}
}
