
/* Titles */
h1, h2, h3, h4, h5 {
	font-family: $nunito;
	font-weight: 900;
	color: $white;
	line-height: 1.15;
}

h1, h2 {
	font-size: $s30;
	font-range: $fontRange;
}
h3, h4 {
	font-size: $s20;
	font-range: $fontRange;
}
h5 {
	font-size: $s18;
	font-range: $fontRange;
}

.container {
	& > h1, h2, h3, h4, h5 {
		text-align: center;
		margin-bottom: 20px;
	}
	p {
		font-family: $nunito;
		font-weight: 300;
		color: $white;
		line-height: 1.15;
		font-size: $s16;
		font-range: $fontRange;
	}
}

.head {

    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;

	&--sm {
		font-size: $s16;
		font-range: $fontRange;
	}

	&--xsm {
		font-size: $s18;
		font-range: $fontRange;
	}

	&--md {
		font-size: $s25;
		font-range: $fontRange;
	}

	&--xmd {
		font-size: $s35;
		font-range: $fontRange;
	}

	&--lg {
		font-size: $s45;
		font-range: $fontRange;
		@media(--sm) {
			font-size: $s25;
			font-range: $fontRange;
		}
	}

	&--xlg {
		font-size: $s55;
		font-range: $fontRange;
		line-height: 1.09;
		@media(--sm) {
			font-size: $s26;
			font-range: $fontRange;
		}
	}

	&--lt {
		font-weight: 300;
	}

}