&__authors {
	margin-top: 7rem;

	&--top {
		display: flex;
		flex-flow: column;

		a {
			color: $black;

			&:hover {
				color: $orange;
			}
		}
		strong {
			text-transform: uppercase;
			font-weight: 500;
		}
	}

	/* Post signature */
	li {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		border-bottom: 2px solid $black;
		padding-bottom: $spacement;
		margin-bottom: $spacement;

		&:last-child {
			margin-bottom: 4rem;
		}
	}

	.author {
		&__avatar {
			min-width: 70px;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			overflow: hidden;
			margin-right: 15px;
			flex-basis: 70px;
		}

		&__info {
			flex-basis: calc(100% - 85px);

			h3,
			p {
				font-family: $titlingCondensed;
			}

			a {
				color: $black;

				&:hover {
					color: $orange;
				}
			}

			h3 {
				font-size: $s20;
				font-range: $fontRange;
				font-weight: 300;

				strong {
					font-weight: 500;
					text-transform: uppercase;

					&:after {
						content: '·';
						display: inline-block;
						margin-left: 0.6rem;
					}
				}
			}

			p {
				font-size: $s17;
				font-range: $fontRange;
				line-height: 1.4;
			}
		}
	}
}
