&__content {
	/* TYPOGRAPHY - the_content() */
	p {
		color: $grey;
		margin-bottom: $spacement;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h2,
	h3,
	h4,
	h5 {
		font-family: $titlingNarrow;
		font-weight: 500;
		line-height: 1.2;
		color: $blackLight;
		margin: 50px 0 25px;
	}

	h2 {
		font-size: $s25;
		font-range: $fontRange;
	}

	h3 {
		font-size: $s20;
		font-range: $fontRange;
	}

	h4,
	h5 {
		font-size: $s16;
		font-range: $fontRange;
	}

	h4 {
		text-transform: uppercase;
	}

	/* LINKS */
	a {
		color: $orange;
	}

	/* LISTS */
	ul,
	ol {
		margin-left: 50px;
		margin-bottom: $spacement;
		color: $grey;

		li {
			font-family: $poynter;
			font-weight: 300;
			font-size: $s20;
			font-range: $fontRange;
			line-height: 1.4;
			margin-bottom: 1.5rem;
		}
	}

	ul {
		&,
		li {
			list-style-type: disc;
		}
	}

	ol {
		list-style: none;
		counter-reset: labs-counter;

		li {
			counter-increment: labs-counter;
			&:before {
				display: inline-block;
				content: counter(labs-counter);
				font-weight: bold;
				margin-left: -20px;
				margin-right: 12px;
			}
		}
	}

	/* QUOTES */
	blockquote {
		background-color: $white;
		margin: 0 0 $spacement;

		p,
		cite {
			text-transform: uppercase;
			color: $blackLight;
		}

		p {
			font-family: $titlingNarrow;
			font-weight: 300;
			font-size: $s33;
			font-range: $fontRange;
			line-height: 1.36;

			&:before {
				content: '“';
				display: block;
				color: $orange;
				font-size: 100px;
				line-height: 1;
				height: 50px;
			}

			&:after {
				content: '”';
				display: inline-block;
			}
		}

		cite {
			font-family: $titlingCondensed;
			font-weight: 500;
			font-size: $s14;
			font-range: $fontRange;
			font-style: normal;
		}
	}

	/* IMAGE AND EMBED */
	.wp-block-image,
	.wp-block-embed {
		margin: 0 0 1em;

		/* Caption */
		figcaption {
			font-family: $titlingNarrow;
			font-weight: 300;
			font-size: $s16;
			font-range: $fontRange;
			background-color: $white;
			color: $blackLight;
			text-align: left;
			caption-side: bottom;
			padding: 10px 0 8px;
			margin: 0;
			border-bottom: 1px solid $blackLight;
		}
	}

	/* IMAGE */
	.wp-block-image {
		figure {
			position: relative;
			margin-bottom: 1rem;

			img {
				margin: auto;
			}
		}
	}

	/* EMBED - responsive */
	.wp-block-embed {
		&__wrapper {
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 30px;
			height: 0;
			overflow: hidden;

			iframe,
			embed,
			object {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}

	/* HUBSPOT custom forms */
	.widget-post__wrapper {
		padding: 4rem;
		border: 1px solid $orange;
	}
}

/* FORM */
.form {
	margin-bottom: $spacement;
}

/* ARTICLES - Alignment */
&__post {
	.article__content {

		/* Left/Right */
		.alignleft {
			float: left;
			margin-right: 2rem;
		}
		.alignright {
			float: right;
			margin-left: 2rem;
		}

		/* Wide */
		@media (--m-md) {
			.alignwide {
				transform: translateX(-41%);

				&,
				figcaption,
				img {
					width: 144%;
				}

				figcaption,
				img {
					max-width: 144%;
				}

				&:before,
				&:after {
					content: '';
					display: block;
					width: 28%;
					height: 40px;
					position: absolute;
				}
			}

			blockquote,
			.form {
				transform: translateX(-28.5%);
				width: 144%;

				&:before,
				&:after {
					content: '';
					display: block;
					width: 28.5%;
					height: 40px;
					position: absolute;
				}

				&:after {
					top: 100%;
				}
			}

			.alignwide,
			blockquote,
			.form {
				position: relative;

				&:before {
					background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 85%);
					bottom: 100%;
				}

				&:after {
					background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
				}
			}
		}
	}


}
