&__features {
	text-align: right;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	@media(max-width: 600px) {
		flex-flow: column;
		button {
			padding: 0 0 0 1rem;
		}
	}

	@media(--m-md) and (--xmd) {
		flex-flow: column;
	}

	* {
		font-family: $titlingCondensed;
		font-weight: 300;
		font-size: $s16;
		font-range: $fontRange;
		text-decoration: none;
	}
	button {
		border: 0;
		background-color: transparent;
		outline: none;		
	}
	i {
		background-position: center left;
		background-repeat: no-repeat;
		background-size: 20px;
		width: 28px;
		height: 15px;
		display: inline-block;
		vertical-align: bottom;
	}

	.date {
		text-transform: uppercase;
	}

	.send {
		position: relative;
		&__btn {
			cursor: pointer;
			line-height: 1;
			i { background-image: url('./img/icons/icon-mail.svg'); }
			&:hover {
				i { background-image: url('./img/icons/icon-mail.svg'); } 
			}			
		}

		.article {
			&__share {
				position: absolute;
				right: 0;
				top: calc(100% + 7px);
				min-width: 290px;
				opacity: 0;
				max-height: 0;
				transition: max-height $cubic $animTime, opacity $cubic $animTime;
				overflow: hidden;

				&--open {
					opacity: 1;
					max-height: 74px;
				}

				&.form__hs {
					form {
						flex-flow: row;
						align-items: flex-start;
					}
					.hs-error-msg, .submitted-message {
						background-color: $greyInput;
					}
					.hs-error-msg {
						padding: 1px;
					}
					.submitted-message {
						padding: 8px 0;
						width: 100%;
					}
				}
			}
		}
		
	}
}
